PHYSTACK_APP_REGISTRATION_ID=your-app-registration-id
PHYSTACK_APP_SECRET=your-app-secret
PHYSTACK_CORE_API_URL=http://localhost:14080
PHYSTACK_PHYHUB_URL=http://localhost:14400
PHYSTACK_REGION=LOCAL
